.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-body {
    display: flex;
    flex: 1;
  }
  
  .dashboard-content {
    flex: 1;
    background-color: #eaeaea;
    padding: 2rem;
  }
  

  .menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    font-size: 26px;
    background-color: black;  /* Cambiá si querés otro color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  