.modal-overlay-recuperacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-recuperacion {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: left;
  }
  

   h2 {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
   }

   .mail{
    padding-top: 1rem;
    color: #454545;
   }

  .modal-input-recuperacion {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 0.8rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .modal-button-recuperacion {
    background-color: #2c97fb;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .modal-button-recuperacion:hover {
    background-color: #166ab9;

  }
  

  .modal-text-recuperacion {
    font-size: 0.7rem;
    color: gray;
    margin-top: 1rem;

  }
  

