.homepage {
    min-height: 100vh;
    background-color: #f3f3f3; /* gris claro */
  }
  
  .navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    height: 80px; /* Altura fija */
  }
  
  

  .logo {
    height: 100px; 
    object-fit: contain;
     
  }
  
  .login-button {
    background-color: white;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease;
    
  }
  
  .login-button:hover {
    background-color: #e4e4e4;
  }
  
  .main-content {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 1.25rem;
    text-align: center;
  }
  