body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
  }
  
  .form-container {
    max-width: 450px;
    min-height: 350px;
    margin: 80px auto;
    padding: 3rem 2rem;
    background-color: rgb(227, 227, 227);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  input, button {
    width: 95%; /* o 90% si querés más margen */
    margin: 0 auto 1rem auto; /* centrarlos */
    display: block;
    padding: 15px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h2{
    padding-bottom: 20px;
    font-size: 30px ;
}

  button {
    width: 95%; /* o 90% si querés más margen */
    margin: 0 auto 1rem auto; /* centrarlos */
    display: block;
    background-color: #9B2C32;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #81252a;
  }
  
  input[type="email"], input[type="password"] {
    margin-bottom: 1rem;
  }
  
  a {
    font-size: small;
    color: #3b82f6;
  }
  

  .texto-chico{
    padding-top:4.5rem;
    font-size: small;
  }

  span{
   color: #3b82f6; 
   cursor: pointer;
   font-size: small;
   text-decoration: underline;
  }