/* Sidebar.css */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.empresa {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-button {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 3rem;
  background: none;
  color: white;
  border: none;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #333333;
}

.nav-button.active {
  background-color: #5c5c5c;
}

.content {
  flex-grow: 1;
  padding: 50px;
}



.cerrar-sesion{
  
}